{{ partial "header.html" . }}
<body>
    {{ partial "sidebar.html" . }}

    <div class="main container-fluid">
        <div class="row">
            <div class="post-list col-md-12">
                {{ range where .Site.Pages "Type" "post" }}
                <div class="post">
                    <h1 class="post-title">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h1>
                    <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
